AWS_REGION=us-east-1
USE_DYNAMODB=false
JWT_SECRET=changeme
DEV_ADMIN_USER=admin
DEV_ADMIN_PASS=password
EMPLOYEES_TABLE=html-biz-payroll-employees
PAYROLL_RUNS_TABLE=html-biz-payroll-payrollruns
KMS_KEY_ARN=
